// Define variable defaults
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#app {
  font-family: 'Roboto', sans-serif;
}

$body-bg: #FFF;
$body-color: #FFF;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';